[Unit]
Description=Airflow Webserver
After=network.target airflow_webserver.service

[Service]
Type=simple
PIDFile=/run/airflow/pid
User=ubuntu
Group=ubuntu
RuntimeDirectory=airflow
WorkingDirectory=/home/admin/airflow
Environment="PATH=/home/ubuntu/.local/bin/airflow:/home/ubuntu/miniconda3/condabin:/usr/local/bin:/usr/bin:/bin"
Environment="AIRFLOW_HOME=/home/admin/airflow"
Environment="PYTHONPATH=/home/admin/airflow"
ExecStart=/home/ubuntu/.local/bin/airflow webserver
StandardOutput=append:/var/log/airflow/access.log
StandardError=append:/var/log/airflow/error.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
