[Unit]
Description=Airflow Webserver
After=network.target airflow_webserver.service
Wants=mysql.service

[Service]
Type=simple
PIDFile=/run/airflow/pid
User=admin
Group=admin
RuntimeDirectory=airflow
WorkingDirectory=/home/admin/airflow
Environment="PATH=/home/admin/miniconda3/envs/airflow/bin/airflow:/home/admin/miniconda3/condabin:/home/admin/miniconda3/envs/airflow/bin"
Environment="AIRFLOW_HOME=/home/admin/airflow"
Environment="PYTHONPATH=/home/admin/airflow"
ExecStart=/home/admin/miniconda3/envs/airflow/bin/airflow webserver -p 8081
PrivateTmp=true
StandardOutput=append:/var/log/airflow/access.log
StandardError=append:/var/log/airflow/error.log

[Install]
WantedBy=multi-user.target
